@import "./reset";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

$--cl-p-Blue: hsl(246, 80%, 60%);
$--cl-p-work: hsl(15, 100%, 70%);
$--cl-p-play: hsl(195, 74%, 62%);
$--cl-p-study: hsl(348, 100%, 68%);
$--cl-p-exercise: hsl(145, 58%, 55%);
$--cl-p-social: hsl(264, 64%, 52%);
$--cl-p-selfcare: hsl(43, 84%, 65%);

$--cl-n-Vrydarkbelue: hsl(226, 43%, 10%);
$--cl-n-Darkblue: hsl(235, 46%, 20%);
$--cl-n-Desaturatedblue: hsl(235, 40%, 40%);
$--cl-n-PaleBlue: hsl(236, 100%, 87%);
$--cl-n-white: hsl(0, 0%, 90%);

$--fs-300: min(8vh, 1rem);
$--fs-400: min(8vh, 1.125rem);
$--fs-500: min(8vh, 1.483rem);
$--fs-600: min(10vh, 2.063rem);

html {
  font-family: "Rubik", sans-serif;
  color: $--cl-n-white;
}

body {
  background-color: $--cl-n-Vrydarkbelue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(7, auto);
  width: 88vw;
  max-width: 400px;
  gap: 1.5rem;
  margin-top: 5rem;
}

.card {
  background-color: $--cl-n-Darkblue;
  border-radius: 1.1rem;
  width: 100%;
}

.user {
  background-color: $--cl-n-Darkblue;
  .user__info {
    display: flex;
    align-items: center;
    background-color: $--cl-p-Blue;
    width: 100%;
    padding: 2.25rem 2rem;
    img {
      outline: 3px solid $--cl-n-white;
      border-radius: 50%;
      height: 4rem;
      width: 4rem;
      margin-right: 1.35rem;
    }
  }
  .user__period {
    display: flex;
    justify-content: space-between;
    color: $--cl-n-Desaturatedblue;
    padding: 1.5rem 2rem;
    a:hover {
      color: $--cl-n-white;
      cursor: pointer;
    }
    .active {
      color: $--cl-n-PaleBlue;
    }
  }
}
.work {
  background-color: $--cl-p-work;
  background-image: url(/images/icon-work.svg);
}
.play {
  background-color: $--cl-p-play;
  background-image: url(./images/icon-play.svg);
}
.study {
  background-color: $--cl-p-study;
  background-image: url(../images/icon-study.svg);
}
.exercise {
  background-color: $--cl-p-exercise;
  background-image: url(images/icon-exercise.svg);
  padding-top: 2.5rem;
  background-repeat: no-repeat;
  background-position: 90% -2%;
  background-size: 4rem;
  display: flex;
}
.social {
  background-color: $--cl-p-social;
  background-image: url(images/icon-social.svg);
}
.self-care {
  background-color: $--cl-p-selfcare;
  background-image: url(images/icon-self-care.svg);
}

.work,
.play,
.study,
.social,
.self-care {
  padding-top: 2.5rem;
  background-repeat: no-repeat;
  background-position: 90% -5%;
  background-size: 4rem;
  display: flex;
}

.user__info,
.card__info {
  background-color: $--cl-n-Darkblue;
  width: 100%;
  border-radius: 1rem;
}

.card__info {
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  &:hover {
    background-color: $--cl-n-Desaturatedblue;
    cursor: pointer;
  }
}

.card__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    height: 30%;
  }
}

.card__time > .time:not(.hidden) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: $--fs-600;
  font-weight: 300;
  padding: 0.51rem 0;
}

h2 {
  font-size: $--fs-500;
  font-weight: 300;
  padding: 0.251rem 0;
}

h3 {
  font-size: $--fs-300;
  font-weight: 300;
  color: $--cl-n-PaleBlue;
}

h4 {
  font-size: $--fs-300;
  font-weight: 400;
  color: $--cl-n-PaleBlue;
  padding: 0.251rem 0;
}

.card__activity {
  font-size: $--fs-400;
  font-weight: 500;
}

.time-toggle {
  font-size: $--fs-400;
  font-weight: 400;
}

.hidden {
  display: none;
}

footer {
  font-size: 0.75rem;
  color: $--cl-n-PaleBlue;
  padding: 1rem;
  a {
    text-decoration: none;
  }
  a:hover {
    color: $--cl-n-Desaturatedblue;
  }
}

@import "./desktop.scss";
