@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

html {
  font-family: "Rubik", sans-serif;
  color: #e6e6e6;
}

body {
  background-color: #0f1424;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(7, auto);
  width: 88vw;
  max-width: 400px;
  gap: 1.5rem;
  margin-top: 5rem;
}

.card {
  background-color: #1c1f4a;
  border-radius: 1.1rem;
  width: 100%;
}

.user {
  background-color: #1c1f4a;
}
.user .user__info {
  display: flex;
  align-items: center;
  background-color: #5847eb;
  width: 100%;
  padding: 2.25rem 2rem;
}
.user .user__info img {
  outline: 3px solid #e6e6e6;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  margin-right: 1.35rem;
}
.user .user__period {
  display: flex;
  justify-content: space-between;
  color: #3d448f;
  padding: 1.5rem 2rem;
}
.user .user__period a:hover {
  color: #e6e6e6;
  cursor: pointer;
}

.work {
  background-color: #ff8c66;
  background-image: url(/images/icon-work.svg);
}

.play {
  background-color: #56c2e6;
  background-image: url(/images/icon-play.svg);
}

.study {
  background-color: #ff5c7c;
  background-image: url(/images/icon-study.svg);
}

.exercise {
  background-color: #4acf81;
  background-image: url(/images/icon-exercise.svg);
  padding-top: 2.5rem;
  background-repeat: no-repeat;
  background-position: 90% -2%;
  background-size: 4rem;
  display: flex;
}

.social {
  background-color: #7536d3;
  background-image: url(/images/icon-social.svg);
}

.self-care {
  background-color: #f1c65b;
  background-image: url(/images/icon-self-care.svg);
}

.work,
.play,
.study,
.social,
.self-care {
  padding-top: 2.5rem;
  background-repeat: no-repeat;
  background-position: 90% -5%;
  background-size: 4rem;
  display: flex;
}

.user__info,
.card__info {
  background-color: #1c1f4a;
  width: 100%;
  border-radius: 1rem;
}

.card__info {
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
}
.card__info:hover {
  background-color: #3d448f;
  cursor: pointer;
}

.card__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__menu img {
  height: 30%;
}

.card__time > .time:not(.hidden) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: min(10vh, 2.063rem);
  font-weight: 300;
  padding: 0.51rem 0;
}

h2 {
  font-size: min(8vh, 1.483rem);
  font-weight: 300;
  padding: 0.251rem 0;
}

h3 {
  font-size: min(8vh, 1rem);
  font-weight: 300;
  color: #bdc1ff;
}

h4 {
  font-size: min(8vh, 1rem);
  font-weight: 400;
  color: #bdc1ff;
  padding: 0.251rem 0;
}

.card__activity {
  font-size: min(8vh, 1.125rem);
  font-weight: 500;
}

.time-toggle {
  font-size: min(8vh, 1.125rem);
  font-weight: 400;
}

.hidden {
  display: none;
}

footer {
  font-size: 0.75rem;
  color: #bdc1ff;
  padding: 1rem;
}
footer a {
  text-decoration: none;
}
footer a:hover {
  color: #3d448f;
}

@media (min-width: 1100px) {
  html {
    height: 100vh;
    width: 100vw;
  }

  body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 77vw;
    height: 50vh;
    max-width: none;
    gap: 2rem;
    margin-top: 0;
  }

  .card {
    height: 100%;
  }

  .user {
    grid-area: span 2;
  }
  .user .user__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 69%;
    padding: 2rem 2rem 3rem 2rem;
  }
  .user .user__info img {
    height: 5rem;
    width: 5rem;
  }
  .user .user__period {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem 2rem;
    height: 31%;
  }

  .card__info {
    padding: 2rem 1.5rem;
    justify-content: space-between;
  }

  .card__time > .time:not(.hidden) {
    flex-direction: column;
    align-items: flex-start;
  }

  h1 {
    font-size: min(10vh, 3.5rem);
    padding: 0.751rem 0;
  }

  h2 {
    font-size: min(8vh, 2.5rem);
    font-weight: 300;
    padding: 0;
    line-height: 1.2;
  }

  h4 {
    padding: 2.75rem 0 0.25rem 0;
  }

  footer {
    background-color: #0f1424;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
}/*# sourceMappingURL=styles.css.map */