@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

html {
  font-family: "Rubik", sans-serif;
}

body {
  background-color: #0f1424;
}

.grid-container {
  margin: 0 auto;
  width: 90%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1.5fr repeat(6, 1fr);
  grid-template-areas: "user" "work" "play" "study" "exercise" "social" "self-care";
  gap: 1rem;
}

.card {
  border-radius: 0.51rem;
  position: relative;
}

.card__info {
  background-color: #1c1f4a;
  border-radius: 0.51rem;
  padding: 2rem;
  margin-top: 3rem;
  color: white;
}

.card__activity {
  font-size: var(1.125rem);
  font-weight: 500;
}

.current {
  font-size: var(3rem);
}

.user {
  grid-area: user;
  background-color: #1c1f4a;
}

.work {
  grid-area: work;
  background-color: #ff8c66;
  background-image: url(/images/icon-work.svg);
}

.play {
  grid-area: play;
  background-color: #56c2e6;
  background-image: url(/images/icon-play.svg);
}

.study {
  grid-area: study;
  background-color: #ff5c7c;
  background-image: url(/images/icon-study.svg);
}

.exercise {
  grid-area: exercise;
  background-color: #4acf81;
  background-image: url(/images/icon-exercise.svg);
}

.social {
  grid-area: social;
  background-color: #7536d3;
  background-image: url(/images/icon-social.svg);
}

.self-care {
  grid-area: self-care;
  background-color: #f1c65b;
  background-image: url(/images/icon-self-care.svg);
}

.work,
.play,
.study,
.exercise,
.social,
.self-care {
  background-repeat: no-repeat;
  background-size: 5rem;
  background-position: 90% -10%;
}

.hidden {
  display: none;
}

@media (min-width: 800px) {
  html {
    font-family: "Rubik", sans-serif;
    height: 100vh;
    width: 100vw;
  }

  body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .grid-container {
    width: 77%;
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "user work play study" "user exercise social self-care";
    gap: 2rem;
  }

  .card__info {
    height: 85%;
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  footer {
    position: fixed;
    bottom: 0;
    padding: 1rem 0;
  }
}/*# sourceMappingURL=styles.css.map */